* {
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    padding: 0;
    margin: 0;
}

.game {
    /*width: 800px;*/
    /*height: 600px;*/
    /*margin: 20px auto;*/
}

h1, h2, h3 {
    color: #fff;
}
